﻿html {
  overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top-buffer { margin-top:3px; }
.top-buffer-large { margin-top: 6px; }
.bottom-buffer { margin-bottom: 3px; }
.bottom-buffer-large { margin-bottom: 6px; }
.bottom-buffer-huge { margin-bottom: 12px; }


.my-border { border-bottom-color: gray; border-top-color: gray }

.not-underline{ text-decoration:none; }