﻿@using SkyBilling.Website.Extensions
@model SkyBilling.Common.Models.SkyBillModel

@{
    ViewBag.Title = "Sky Billing";
}

<div class="jumbotron">
    <h1>Your Bill</h1>
</div>

<div class="container" style="border: 3px solid #505050; -ms-border-radius: 8px; border-radius: 8px;">
    <div class="row">
        <div class="col-xs-12">
            <h2>Statement Summary</h2>
        </div>
    </div>
    <div class="row top-buffer-large bottom-buffer-large" >
        <div class="col-xs-4 col-sm-3 col-md-2">
            Statement Date:
        </div>
        <div class="col-xs-8 col-sm-3 col-md-2">
            @Model.Statement.Generated.ToViewFormat()
        </div>
    </div>
    <div class="row top-buffer bottom-buffer-large">
        <div class="col-xs-4 col-sm-3 col-md-2">
            Billing Period:
        </div>
        <div class="col-xs-8 col-sm-3 col-md-2">
            @Model.Statement.Period.From.ToViewFormat() -
            <br/>@Model.Statement.Period.To.ToViewFormat()
        </div>
    </div>
    <div class="row top-buffer bottom-buffer-large">
        <div class="col-xs-4 col-sm-3 col-md-2">
            Payment Due Date:
        </div>
        <div class="col-xs-8 col-sm-3 col-md-2">
            @Model.Statement.Due.ToViewFormat()
        </div>
    </div>
    <div class="row top-buffer bottom-buffer-large">
        <div class="col-xs-4 col-sm-3 col-md-2">
            <h3>Total Cost:</h3>
        </div>
        <div class="col-xs-8 col-sm-3 col-md-2">
            <h3>@Model.Total.ToViewCurrencyFormat()</h3>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row bottom-buffer-large">
        <div class="col-lg-4">
            <h2>Your Charges</h2>
        </div>
    </div>

    <div class="accordion" id="accordionCharges">
        <!-- Package subscriptions -->
        <div class="accordion-group bottom-buffer-huge">
            <div class="accordion-heading">
                <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordionCharges" href="#collapsePackage">
                    <div class="row">
                        <a class="glyphicon glyphicon-plus not-underline col-xs-1"></a>
                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-4 h4">
                            Package Subscriptions
                        </div>
                        <div class="col-xs-1 h4">
                            @Model.Package.Total.ToViewCurrencyFormat()
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapsePackage" class="accordion-body collapse top-buffer">
                <div class="accordion-inner">
                    @if (@Model.Package.Subscriptions.Count > 0)
                    {
                        foreach (var subscription in @Model.Package.Subscriptions)
                        {
                            <div class="row">
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-5 col-sm-3 col-lg-2">
                                    @subscription.Name
                                </div>
                                <div class="col-xs-4 col-sm-2 col-md-2">
                                    @subscription.Type.ToString()
                                </div>
                                <div class="col-xs-1">
                                    @subscription.Cost.ToViewCurrencyFormat()
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <!-- Call charges -->
        <div class="accordion-group bottom-buffer-huge">
            <div class="accordion-heading">
                <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordionCharges" href="#collapseCalls">
                    <div class="row">
                        <a class="glyphicon glyphicon-plus not-underline col-xs-1"></a>
                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-4 h4">
                            Call Charges
                        </div>
                        <div class="col-xs-1 h4">
                            @Model.CallCharges.Total.ToViewCurrencyFormat()
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseCalls" class="accordion-body collapse top-buffer">
                <div class="accordion-inner">
                    @if (@Model.CallCharges.Calls.Count > 0)
                    {
                        foreach (var call in Model.CallCharges.Calls)
                        {
                            <div class="row">
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-5 col-sm-3 col-lg-2">
                                    @call.Called
                                </div>
                                <div class="col-xs-4 col-sm-2 col-md-2">
                                    @call.Duration.ToString("g")
                                </div>
                                <div class="col-xs-1">
                                    @call.Cost.ToViewCurrencyFormat()
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <!-- SkyStore -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordionCharges" href="#collapseStore">
                    <div class="row">
                        <a class="glyphicon glyphicon-plus not-underline col-xs-1"></a>
                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-4 h4">
                            Sky Store
                        </div>
                        <div class="col-xs-1 h4">
                            @Model.SkyStore.Total.ToViewCurrencyFormat()
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseStore" class="accordion-body collapse top-buffer-large">
                <div class="accordion-inner">
                    @if (@Model.SkyStore.Rentals.Count > 0)
                    {
                        <div class="row bottom-buffer-large">
                            <div class="col-xs-1"> </div>
                            <div class="col-xs-1">
                                Rentals
                            </div>
                        </div>
                        foreach (var title in Model.SkyStore.Rentals)
                        {
                            <div class="row">
                                <div class="col-xs-3 col-sm-2"> </div>
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-3">
                                    @title.Title
                                </div>
                                <div class="col-xs-1">
                                    @title.Cost.ToViewCurrencyFormat()
                                </div>
                            </div>
                        }
                    }
                    @if (@Model.SkyStore.BuyAndKeep.Count > 0)
                    {
                        <div class="row bottom-buffer-large top-buffer-large">
                            <div class="col-xs-1"> </div>
                            <div class="col-xs-6">
                                Buy And Keep
                            </div>
                        </div>
                        foreach (var title in Model.SkyStore.BuyAndKeep)
                        {
                            <div class="row">
                                <div class="col-xs-3 col-sm-2"> </div>
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-3">
                                    @title.Title
                                </div>
                                <div class="col-xs-1">
                                    @title.Cost.ToViewCurrencyFormat()
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
